.footer{
    display: flex;
    background-color: var(--black);
    align-items: center ;
    justify-content: space-between;
    height: 150px;
    padding: 15px 0;
    width: 100%;
    margin-top: 30PX;
}
.footer-social{
    display: flex;
    margin-right: 20px;
}
.footer-logo{
    margin-left: 20px;
}
.footer-author {
    color: var(--white);
}
